.room {
    height: 100px;
    width: 100px;
    background: red;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starter-room {
    height: 100px;
    width: 100px;
    background: blue;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* border: 1px solid orange; */
}

.rooms-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.direction-button {
    border-radius: 50px;
    background: pink;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.register-form div input {
    margin-top: 20px;
}

.register-form button {
    margin-top: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input {
    margin-top: 20px;
}

.login-form button {
    margin-top: 20px;
}