.room {
    height: 100px;
    width: 100px;
    background: red;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-div {
    display: flex;
    align-items: center;
}

.rooms-grid {
    display: flex;
    align-items: center;
    width: 2000px;
}

.game-container {
    display: flex;
    flex-direction: column;
}